body,
.ot-panel-transparent .ot-panel-header {background: url('../images/bg.png') 0 0 repeat}

.ot-style-link a:hover,
.ot-col-right .ot-link-pt:hover,
.ot-nav.ot-user-pay a:hover {color: #ef7f1a;}

.ot-page {width: 952px; margin: 0 auto;}
.ot-logo {padding-bottom: 48px;}
.ot-logo-link {
    background: url('../images/logo.png') 0 0 no-repeat;
    width: 209px;
    height: 51px;
    display: block;
}
.ot-page .ot-main .ot-section {padding-top: 25px;position: relative;}
.ot-page .ot-sidebar {}

.ot-section {width: 724px; float: left;}
.ot-aside {width: 213px; float: right; padding-top: 31px;}
.ot-aside.ot-aside-indent {padding-top: 150px}

/* ot-panel-user-info */
.ot-panel-user-info {padding-bottom: 15px;}
.ot-panel-user-info .ot-user-name {font-size: 18px; font-weight: bold;}
.ot-panel-user-info .ot-col-left {float: left;white-space: nowrap;position: relative;}
.ot-panel-user-info .ot-col-left > .ot-ico {margin-right: 10px;position: absolute; top: 0; left: 0;}
.ot-panel-user-info .ot-col-left > .ot-ico.ot-ico-user {background-position: 0 -134px;}
.ot-panel-user-info .ot-col-left > .ot-ico + div {margin-left: 50px;padding-top: 10px; }
.ot-panel-user-info .ot-col-left .ot-user-name {display: block;margin-bottom: 5px;width: 300px;overflow: hidden;}
i.ot-ico.ot-ico-edit {
    background-position: -127px -18px;
    width: 12px;
    height: 13px;
    margin-right: 5px;
    cursor: pointer;
}
.ot-col-right {float: left; margin-left: 50px;padding-top: 15px;}
.ot-col-right .ot-link-pt {
    color: #000;
    border-bottom: 1px #000 dotted;
    text-decoration: none;
    position: relative;
    z-index: 10;
}
.ot-col-right .ot-link-pt:hover {border: none;}

.ot-col-personal-info {position: relative;}
.ot-col-personal-info  {}

.ot-row {padding:0 15px;margin-bottom: 20px;}
.ot-row dt {width: 80px; float:  left; font-weight: normal; margin-bottom: 15px;clear: both;height: 25px;}
.ot-row dd {margin-bottom: 15px;min-height: 25px;margin-left: 80px;}
.ot-row.ot-border {border-bottom: 1px solid #ededed; }
.ot-row h1 {font-size: 12px; font-weight: bold; margin-bottom: 13px;}
.ot-row 
.ot-text-big {font-size: 18px;}
.ot-text-middle {font-size: 16px;}
.ot-text-bold,dt.ot-text-bold {font-weight: bold;}
.ot-text-italic {font-style: italic;}
.ot-text-height-24 {line-height: 24px;}
.ot-status-active {background: #ef7f1a;color: #fff;padding: 3px;}
.ot-panel-white .ot-ico-info {background-position: 0px -88px;width: 36px;height: 37px;}
.ot-row-tariff dt {line-height: 29px;}
.ot-dd-nav {float: left; width: 100%; margin-bottom: 20px;position: relative;}
.ot-dd-nav .ot-links-big {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    float: left;
    line-height: 29px;
}
.ot-dd-nav a.ot-order-tariff {
    background-position: 0 -187px;
    width: 109px;
    height: 30px;
    text-align: center;
    padding: 7px 10px;
    color: #fff;
    display: block;
    margin: auto;
    margin-left: 20px;
    float: left;
    text-decoration: none;
}
.ot-dd-nav a.ot-order-tariff-item {
    border: 1px solid #ef7f1a;
    padding: 7px 10px;
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #000;
    display: block;
    margin: auto;
    margin-left: 20px;
    float: left;
}
.ot-btn.ot-btn-gray {
    display: block;
    float: right;
    color: #fff;
    background: #c5c6c6;
    text-transform: uppercase;
    width: 129px;
    height: 29px;
    line-height: 29px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;    
}
.ot-btn-default:hover,
.ot-btn.ot-btn-gray:hover  {-webkit-box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.5); box-shadow: inset 1px 1px 0px 0px rgba(0, 0, 0, 0.5);}

.ot-btn.ot-btn-orange {
    display: block;
    color: #fff;
    background: #ef7f1a;
    text-transform: uppercase;
    width: 129px;
    height: 29px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
}
a.ot-btn.ot-btn-orange {line-height: 29px;}
.ot-dd-nav .ot-order-tariff {}

.ot-items {margin-bottom: 20px;}
.ot-items .ot-item {margin-bottom: 10px;}
.ot-row .ot-items > .ot-item > .ot-item-label {
    float: left;
    width: 260px;
    background: url('../images/field-pt.png') 0 100% repeat-x
}
.ot-row .ot-items > .ot-item > .ot-item-label span {background: #fff;}
.ot-row .ot-items .ot-item .ot-item-field {margin-left: 260px;}
.ot-row .ot-items .ot-item .ot-item-field-description {color: #999; font-size: 9px; display: block;}
.ot-nav-tariff {padding-bottom: 15px; float: left; width: 100%;}
.ot-nav-tariff .ot-item {width: 260px; float: left;position: relative}
.ot-item-field-date {font-weight: bold; color: #ef7f1a;}
.ot-item-trust-payment {
    float: right;
    text-align: center;
    font-size: 11px;
    border-left: 1px solid #ededed;
    padding:20px 0 20px 20px;
}
.ot-item-trust-payment p {margin: 0}
.ot-item-trust-payment .ot-btn {margin-top: 5px;}
.ot-item-trust-payment strong {font-size: 18px;}

.ot-progress-bar {width: 422px; padding-top: 10px;}
.ot-progress-bar-line,
.ot-progress-bar-box {background: url(../images/progress-bar.png) 0 0 no-repeat}

.ot-progress-bar-box {width: 354px; height: 17px;margin-left: 32px;position: relative;}
.ot-progress-bar-line {
    height: 13px;
    background-position: 0 -20px;    
    border-right: 1px solid #b2b2b2;
}
.ot-progress-bar-box-wrapper {
    position: relative;
    top: 3px;
    margin: 0 3px;
    width: 348px;
    overflow: hidden;
}
.ot-progress-bar-status {text-align: center; color: #ef7f1a; font-size: 9px;}

.ot-progress-bar-value-end,
.ot-progress-bar-value-begin {
    font-size: 11px;
    color: #999;
    position: absolute;
    top: 2px;
}

.ot-progress-bar-value-begin { left: -24px;; }
.ot-progress-bar-value-end {right: -38px;}

.ot-progress-bar-date .ot-progress-bar-box {background-position: 0 -40px;}
.ot-progress-bar-date .ot-progress-bar-line {background-position: 0 -60px;height: 14px;border: none;}
.ot-progress-bar-date .ot-progress-bar-box-wrapper {width: 351px;margin: 0px;}
.ot-progress-bar-date .ot-step-1 {width: 43px;}
.ot-progress-bar-date .ot-step-2 {width: 81px;}
.ot-progress-bar-date .ot-step-3 {width: 119px;}
.ot-progress-bar-date .ot-step-4 {width: 156px;}
.ot-progress-bar-date .ot-step-5 {width: 195px;}
.ot-progress-bar-date .ot-step-6 {width: 233px;}
.ot-progress-bar-date .ot-step-7 {width: 271px;}
.ot-progress-bar-date .ot-step-8 {width: 309px;}
.ot-progress-bar-date .ot-step-9 {width: 354px;}


/* Panel Transparent */
.ot-panel-transparent,
.ot-panel-transparent .ot-panel-wrapper,
.ot-panel-transparent .ot-panel-content {background: url('../images/panel-transparent.png') 0 0 no-repeat;}

.ot-panel-transparent {padding-top: 10px;margin-bottom: 35px;top: 15px; position: relative;}
.ot-panel-transparent .ot-panel-header {
    font-size: 18px;
    padding:0 10px;
    position: absolute;
    left: 20px;
    top: -25px;
}
.ot-panel-transparent .ot-panel-wrapper {background-position: -733px 100%; padding-bottom: 15px;position: relative;}
.ot-panel-transparent .ot-panel-content {background-position:-1462px 0; background-repeat: repeat-y; padding:15px 15px 0;}


/* Panel Transparent Mini */
.ot-panel-transparent-mini,
.ot-panel-transparent-mini .ot-panel-wrapper,
.ot-panel-transparent-mini .ot-panel-content {background: url('../images/panel-transparent-mini.png') 0 0 no-repeat;}

.ot-panel-transparent-mini {padding-top: 10px;}
.ot-panel-transparent-mini .ot-panel-content {padding:5px 15px;background-position: -435px 0;background-repeat: repeat-y;}
.ot-panel-transparent-mini .ot-panel-wrapper {background-position: -218px 100%; padding-bottom: 10px;}
.ot-panel-transparent-mini {}

.ot-nav.ot-user-pay .ot-ico {margin-right: 10px;}
.ot-nav.ot-user-pay a {
    display: block;
    padding: 10px 0;
    float: left;
    clear: both;
    color: #333;
    white-space: nowrap;
}

/* Panel White */
.ot-panel-white,
.ot-panel-white .ot-panel-wrapper {background: url('../images/panel-white.png') 0 0 no-repeat;}
.ot-panel-white .ot-panel-wrapper {
    background-color: #eff0f3;
    -webkit-border-bottom-right-radius: 12px;
    -webkit-border-bottom-left-radius: 12px;
    -moz-border-radius-bottomright: 12px;
    -moz-border-radius-bottomleft: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.ot-panel-white {padding-top: 10px;margin-bottom: 30px;}
.ot-panel-white .ot-panel-content {padding:15px 15px 0;background: #fff;}
.ot-panel-white .ot-panel-wrapper {background-position: -729px 100%; padding-bottom: 10px;}

/* Panel White Mini */
.ot-panel-white-mini,
.ot-panel-white-mini .ot-panel-wrapper,
.ot-panel-white-mini .ot-panel-content {background: url('../images/panel-white-mini.png') 0 0 no-repeat;}

.ot-panel-white-mini {padding-top: 10px;}
.ot-panel-white-mini .ot-panel-content {padding:15px 15px;background: #fff;}
.ot-panel-white-mini .ot-panel-wrapper {
    background-position: -217px 100%;
    padding-bottom: 10px;
    background-color: #eff0f3;
    -webkit-border-bottom-right-radius: 12px;
    -webkit-border-bottom-left-radius: 12px;
    -moz-border-radius-bottomright: 12px;
    -moz-border-radius-bottomleft: 12px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

/* panel-user-nav */
.panel-user-nav {text-align: center;}
.panel-user-nav a {color: #000; margin: 0 12px;}


/* Aside Panel Orange */
.ot-aside .ot-panel-account-top {
    background: url('../images/panel-orange.png') 0 0 no-repeat;
    padding-top: 10px;
    margin-bottom: 1px;
    color: #fff;
}
.ot-aside .ot-panel-account-top p {margin-bottom: 10px}
.ot-aside .ot-panel-account-top p span {display: block;}
.ot-aside .ot-panel-account-top .ot-panel-wrapper {
    text-align: center;
    background: #ef7f1a;
    padding-bottom: 5px;
}
.ot-aside .ot-account-num {font-size: 33px; font-weight: bold;}
.ot-aside .ot-location-city {font-size: 18px;}

.ot-aside .ot-panel-account-bottom {
    background: url('../images/panel-gray.png') 0 100% no-repeat;
    padding-bottom: 10px;
    text-align: center;
    color: #fff;
}
.ot-aside .ot-panel-account-bottom .ot-panel-wrapper {background: #c5c6c6;padding: 15px 0;}
.ot-aside .ot-panel-account-bottom .ot-account-balance {font-size: 33px;}
.ot-aside .ot-panel-account-bottom .ot-write-off {
    font-size: 11px;
    color: #000;
    text-align: left;
    line-height: 18px;
    margin-left: 15px;
}
.ot-aside .ot-panel-account-bottom .ot-write-off .ot-ico {float: left;width: 35px;height: 36px;margin-right: 10px;}
.ot-aside .ot-panel-account-bottom .ot-write-off strong {background: #ef7f1a;color: #fff;padding: 3px;}
.ot-account-update-time {font-size: 9px;}

.ot-write-off {margin-bottom: 5px;}
.ot-write-off-price {font-size: 11px;color: #000;}
.ot-write-off-price strong {font-size: 18px;}


/* Panel Navigation */
.ot-aside .ot-panel-nav li {margin-bottom: 10px;}
.ot-style-link a {color: #000;}
.ot-panel-nav {padding: 15px;}

/* Table */
table .ot-status-active {color: #ef7f1a;}
table tr:hover td,
table .ot-status-active td {background: #fff4e9!important;}
table .ot-status-blocked td.ot-td-date {color: #cc0000;}
.ot-td-name {margin-left: 25px; width: 250px;}

/* Icons */
.ot-ico {
    background: url('../images/icons.png') 0 0 no-repeat;
    width: 40px;
    height: 40px;
    display: inline-block;
    vertical-align: middle;
}
.ot-ico-specification {cursor: pointer;}
.ot-ico-specification {background-position:0 -43px;width: 36px;height: 37px;}
table i.ot-ico.ot-ico-specification {display: block;margin: auto;}
table .ot-ico-checked {margin: 0;}
table .ot-ico-checked,
table .ot-ico-checked-m {background-position:-127px 0px; width: 16px; height: 13px;}
table .ot-ico-checked-m {float: left;margin-top: 9px;}

.ot-ico-logout {background-position: -127px -114px;width: 15px;height: 15px; margin-right: 5px;}
.ot-ico-update {background-position: -127px -97px;width: 16px;height: 13px; margin-right: 5px;}

/* Buttons */
.ot-btn-update-balance,
.ot-dd-nav .ot-order-tariff {background: url('../images/btn.png') 0 0 no-repeat;}

.ot-btn-update-balance {    
    width: 195px;
    height: 42px;
    display: block;
    margin: auto;
    font-size: 14px;
    color: #000;
    text-decoration: none;
    line-height: 42px;
    text-transform: uppercase;
}

/* Icons */
.ot-ico + span {vertical-align: middle;}
.ot-ico-create {background-position: -45px 0px; margin-right: 10px;}
.ot-ico-checked {background-position: -45px -43px; margin-right: 9px;width: 34px;height: 34px;}
.ot-ico-unchecked {background-position: -128px -158px;width: 14px;height: 14px;}
a span {vertical-align: middle}
.ot-float {float: left;}
.ot-panel-create-account a {font-size: 14px;}
.ot-ico-info {background-position: -86px -88px;}
.ot-ico-help {background-position: -127px -131px;width: 17px;height: 17px;cursor: pointer;}
/* */
.ot-ico.ot-ico-list-pay,
.ot-ico.ot-ico-history-pay {
    width: 36px;
    height: 36px;
}
.ot-ico.ot-ico-list-pay {background-position: -86px 0px;}
.ot-ico.ot-ico-history-pay {background-position: -86px -43px;}

.ot-ico.ot-ico-info,
.ot-ico.ot-ico-specification {margin-right: 10px;}

/* Dialog */
.ot-dialog {display: none;z-index: 9;}
.ot-dialog-nav .ot-btn {display: inline-block; float: none;}
.ot-dialog-personal-info {
    background: url('../images/dialog-personal-info.png') 0 0 no-repeat;
    position: absolute;
    top: -15px;
    left: -34px;
    width: 508px;
    z-index: 9;
}
.ot-dialog-wrapper {padding: 20px;position: relative;}
.ot-dialog .ot-dialog-close {
    background-position: -127px -55px;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 16px;
    right: 16px;
}
.ot-dialog .ot-dialog-close:hover {
    background-position: -51px -88px;
    width: 21px;
    height: 21px;
    top: 10px;
    right: 10px
}
.ot-col-personal-info .ot-item-action {padding-top: 3px;}
.ot-col-personal-info .ot-item-action a,
.ot-col-personal-info .ot-item-action span {font-size: 9px; color: #999; margin-right: 20px;}
.ot-col-personal-info .ot-item-action i.ot-ico.ot-ico-edit {background-position: -127px -36px;}
.ot-col-personal-info .ot-items {padding: 50px 0px 0;}
.ot-col-personal-info .ot-items .ot-item {padding: 0 15px 15px;margin-bottom: 15px;}
.ot-col-personal-info .ot-items .ot-item.ot-border {border-bottom: 1px solid #ededed;}
.ot-col-personal-info .ot-ico-checked {background-position: -127px -67px;width: 12px;height: 13px;}
.ot-col-personal-info .ot-ico-view {background-position: -127px -82px;width: 16px;height: 13px;margin-right: 9px;}
.ot-col-personal-info .ot-items .ot-item .ot-item-label {font-weight: bold;background: none; width: auto; margin-right: 5px;float: left;}
.ot-col-personal-info .ot-items .ot-item .ot-item-field {margin-left: 10px;}
.ot-col-personal-info .ot-item-action {position: relative;}
.ot-col-personal-info .ot-item-action.ot-disable {
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=20);
    -moz-opacity: 0.2;
    -khtml-opacity: 0.2;
    opacity: 0.2;
}
.ot-col-personal-info .ot-item-action.ot-disable:after {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.ot-field-edit {top: -5px;position: relative;}
.ot-link-cancel {color: #ccc; font-size: 9px;}

.ot-dialog-tariff {
    width: 722px;
    background: url('../images/dialog-tariff.png') 0 0 no-repeat;
    top: 40px;
    left: -109px;
    z-index: 10;
}
.ot-dialog-tariff-list {}
.ot-dialog-tariff .ot-dialog-wrapper {padding:60px 18px 0;}
.ot-dialog-tariff .ot-tabs {background:  url('../images/tabs.png') 0 0 no-repeat;}
.ot-dialog-tariff .ot-tabs .ot-tabs-content {padding: 2px;}
.ot-dialog-tariff .ot-tabs-content-2 {display: none;}

.ot-dialog table {width: auto; text-align: center; margin-bottom: 30px;}
.ot-dialog table .ot-table-title {width: 166px; text-align: left; vertical-align: top;}
.ot-dialog table .ot-table-title span {display: block; width: 168px;}
.ot-dialog table th {background: #c5c6c6; height: 40px;}
.ot-dialog table th a {color: #fff;}
.ot-dialog table td {background: #f9f9f9; width: 146px;padding: 13px 10px;}
.ot-dialog table td .btn {margin: auto;}
.ot-dialog table td p {margin-bottom: 10px;}
.ot-dialog table tr:nth-child(odd) td {background: #f4f4f4;}
.ot-dialog table .ot-table-td-sel {color: #ef7f1a;}

.ot-dialog .ot-tabs {background-color: #fff;}
.ot-dialog .ot-tabs-nav {float: left; width: 100%;list-style: none;margin-top: -35px;}
.ot-dialog .ot-tabs-nav li {float: left;}
.ot-dialog .ot-tabs-nav li a {
    font-weight: bold;
    display: block;
    float: left;
    background: url('../images/tabs-item.png') 0 1px no-repeat;
    width: 139px;
    height: 34px;
    line-height: 37px;
    text-align: center;
    margin-right: -10px;
}
.ot-dialog .ot-tabs-nav li.ot-active a {
    background-position: 0 -39px;
    width: 139px;
    position: relative;
    bottom: -2px;
}
.ot-dialog .ot-tabs-nav li.ot-active a {color: #000;text-decoration: none;z-index: 5;}
.ot-dialog .ot-tabs-nav li.ot-active a:hover {text-decoration: none;}

.ot-dialog-tariff .ot-tabs-nav li + li a {background-position: 0 -78px;width: 108px;}
.ot-dialog-tariff .ot-tabs-nav li + li.ot-active a {background-position: 0 -119px;width: 108px;}

.ot-items-tariff-sale .ot-item:last-child {margin: 0}
.ot-items-tariff-sale {margin-left: 16px;}


/* ot-dialog-tariff-recovery */
.ot-dialog-tariff-connect,
.ot-dialog-tariff-recovery,
.ot-dialog-tariff-recovery-ok,
.ot-dialog-tariff-recovery-error {width: 722px;left: -109px;top: 42px;}

.ot-dialog-tariff-recovery-ok {text-align: center;}
.ot-dialog-tariff-recovery-ok .ot-tariff-name {display: block;font-size: 36px; font-weight: bold;}
.ot-dialog-tariff-recovery-ok .ot-btn {margin: auto;}

.ot-dialog-tariff-recovery-error {text-align: center;}
.ot-dialog-tariff-recovery-error .ot-dialog-wrapper {padding-top: 50px;}
.ot-dialog-tariff-recovery-error h1.ot-title {font-size: 36px; color: #cc0000;}
.ot-dialog-tariff-recovery-error {font-size: 14px;}
.ot-dialog-tariff-recovery-error .ot-text-big {font-size: 24px; font-weight: bold;}
.ot-dialog-tariff-recovery-error .ot-btn {margin: auto;}

/* ot-dialog-tariff-connect */
.ot-dialog-tariff-connect {text-align: center;}
.ot-dialog-tariff-connect .ot-dialog-wrapper {padding: 30px 0;}
.ot-dialog-tariff-connect .ot-dialog-nav {text-align: center;}
.ot-dialog-tariff-connect .ot-dialog-nav .ot-btn {margin: 0 1px;}
.ot-dialog-tariff-connect .ot-tariff-name {display: block;font-size: 36px;font-weight: bold;}
.ot-dialog-tariff-connect h1.ot-title {margin-bottom: 5px;}
.ot-dialog-tariff-connect .ot-ico-warning{
    background-position: -87px -133px;
    height: 33px;
    width: 33px;
    margin-right: 8px;
}

/* ot-dialog-payment-history */
.ot-dialog-history {top: 215px;left: 0px;width: 724px;}
.ot-dialog-history .ot-title {font-size: 12px;margin-bottom: 30px;}
.ot-dialog-history dl {float:left; width: 100%;}
.ot-dialog-history dt {float: left;width: 125px;margin-bottom: 5px;clear: both;font-weight: normal;}
.ot-dialog-history dd {margin-bottom: 5px; float: left;}
.ot-dialog-history .ot-table {position: relative;}
.ot-dialog-history .ot-table-options {
    text-align: right;
    position: absolute;
    right:20px;
    top: -40px;
}
.ot-dialog-payment-history th {width: 19%;}
.ot-dialog-payment-history th + th {width: 19%;}
.ot-dialog-payment-history th + th + th {width: auto;}
.ot-dialog-payment-history th + th + th + th {width: 19%;}
.ot-dialog-payment-history td {width: 19%;}
.ot-dialog-payment-history td + td {width: 19%;}
.ot-dialog-payment-history td + td + td {width: auto;text-align: left;}
.ot-dialog-payment-history td + td + td + td {width: 19%;text-align: center;}

.ot-ico-filter {width: 5px; height: 3px; background-position: -127px -151px;margin-left: 9px;cursor: pointer;}

/* ot-link-history-operations */
.ot-link-operations-history {}
.ot-link-operations-history table td {padding: 5px 10px;}

/* ot-link-order-detail */
.ot-dialog-order-detail .ot-dialog-wrapper {padding-top: 40px;}
.ot-dialog-order-detail dt {width: 190px;margin-bottom: 15px;}
.ot-dialog-order-detail .ot-table-options {
    position: initial;
    text-align: left;
    font-weight: bold;
    margin-bottom: 10px;
}
.ot-dialog-order-detail .ot-table-total td {text-align: right; font-weight: bold;}
.ot-dialog-order-detail .ot-table-total td + td {text-align: center;}
.ot-dialog-order-detail th.ot-select {background: #e0cc9a;}
.ot-dialog table tr td.ot-select {background: #fcfaf3;}
.ot-dialog table tr.ot-select:nth-child(odd) td,
.ot-dialog table tr:nth-child(odd) td.ot-select {background: #f9f5e9;}

.ot-dialog-order-detail .ot-table-pay-transaction {}
.ot-dialog-order-detail .ot-table-pay-transaction td {width: 20%}
.ot-dialog-order-detail .ot-table-pay-transaction td + td {width: auto; text-align: left;}
.ot-dialog-order-detail .ot-table-pay-transaction td + td + td {width: 20%; text-align: center;}
.ot-dialog-order-detail .ot-table-pay-transaction .ot-table-total td + td {text-align: center;}

.ot-dialog-order-detail .ot-table-traffic-detail table th.ot-select {height: 25px;}
.ot-dialog-order-detail .ot-table-traffic-detail .ot-th-date {width: 20%}
.ot-dialog-order-detail .ot-table-traffic-detail .ot-th-traffic {width: auto;}
.ot-dialog-order-detail .ot-table-traffic-detail .ot-th-total  {width: 11%}
.ot-dialog-order-detail .ot-th-traffic-wrapper {position: relative;}
.ot-dialog-order-detail .ot-th-traffic-wrapper .ot-th-option * {vertical-align: middle;}
.ot-dialog-order-detail .ot-th-traffic-wrapper .ot-th-option label {text-decoration: underline;}
.ot-dialog-order-detail .ot-th-traffic-wrapper .ot-th-option label:hover {text-decoration: none; cursor: pointer;}
.ot-dialog-order-detail .ot-th-traffic-wrapper .ot-th-option {
    position: absolute;
    top: -2px;
    right: 0;
    font-size: 9px;
}

.ot-dialog-order-detail .ot-table-roaming .ot-td-date {width: 20%;}
.ot-dialog-order-detail .ot-table-roaming .ot-td-total {width: 11%;}

/* ot-dialog-help */
.ot-dialog-help {width: 213px;line-height: 18px;}
.ot-dialog-help .ot-dialog-wrapper {padding: 40px 15px 15px;}
.ot-dialog-help h1 {text-transform: uppercase; font-size: 12px;margin-bottom: 20px;line-height: 18px;}
.ot-dialog-help li {clear: both; float: left;margin-bottom: 20px;}
.ot-dialog-help li .ot-ico {float: left;width: 36px;height: 36px;}
.ot-ico-phone {background-position: -45px -116px;}
.ot-ico-email {background-position: -45px -158px;}
.ot-ico-address {background-position: -45px -200px;}
.ot-dialog-help li span {width: 149px;display: block;padding-top: 10px;margin-left: 44px;}

/**/
.ot-items-tariff-list {margin-left: 16px;}
.ot-items-tariff-list .ot-item {
    float: left;
    width: 140px;
    background: url('../images/tariff-marker.png') 0 0 no-repeat;
    text-align: center;
    height: 259px;
    margin-right: 29px;
}
.ot-items-tariff-list .ot-item:last-child {margin: 0;}
.ot-items-tariff-list .ot-item-content {padding-top: 10px;}
.ot-items-tariff-list .ot-item-header {color: #fff;height: 107px;}
.ot-items-tariff-list .ot-item-header span {display: block;font-size: 8px; text-transform: uppercase; padding-top: 30px;}
.ot-items-tariff-list .ot-item-header a {
    font-size: 36px;
    color: #fff;
    font-weight: bold;
    border-bottom: 3px solid #fff;
    text-decoration: none;
}
.ot-items-tariff-list .ot-item-label,
.ot-items-tariff-sale .ot-item-label {text-transform: uppercase; font-size: 8px;display: block;}
.ot-items-tariff-list .ot-item-description {color: #ef7f1a;}
.ot-items-tariff-list .ot-item-content p {margin-bottom: 13px;}
.ot-items-tariff-sale .ot-item-description,
.ot-items-tariff-sale.ot-item-description strong,
.ot-items-tariff-list .ot-item-description strong {font-size: 18px;}

.ot-items-tariff-list .ot-item.active,
.ot-items-tariff-list .ot-item:hover {background-position: -145px 0px;color: #fff; cursor: pointer;}
.ot-items-tariff-list .ot-item.active .ot-item-header a,
.ot-items-tariff-list .ot-item:hover .ot-item-header a {border: none;}
.ot-items-tariff-list .ot-item.active .ot-item-description,
.ot-items-tariff-list .ot-item:hover .ot-item-description {color: #fff;}

.ot-items-tariff-sale {border-bottom: 1px solid #f3f3f3;}
.ot-items-tariff-sale .ot-title {font-size: 12px; padding-bottom: 30px; text-align: center;}
.ot-items-tariff-sale .ot-item {
    float: left;
    width: 140px;
    text-align: center;
    height: 170px;
    margin-right: 15px;
    padding-right: 14px;
    border-right: 1px solid #f3f3f3;
}
.ot-items-tariff-sale .ot-item:last-child {border: none;}
.ot-items-tariff-sale .ot-item-description {font-weight: bold;}
.ot-items-tariff-sale .ot-item-description strong {color: #ef7f1a;}
.ot-items-tariff-sale .ot-item-content-total .ot-item-description {
    font-size: 12px;
    font-weight: normal;
    color: #ef7f1a;
    margin: 4px 0;
    display: block;
}
.ot-items-tariff-sale .ot-item-content-total .ot-item-price {font-size: 18px;}
.ot-items-tariff-sale .ot-btn {margin: auto;}
.ot-dialog {
    background: #fff;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow:  0px 0px 25px 7px rgba(0, 0, 0, 0.2);
    box-shadow:  0px 0px 25px 7px rgba(0, 0, 0, 0.2);
    position: absolute;
}
/**/
.ot-row-order-detail {margin-bottom: 50px;}
.ot-link-order-detail {color: #000; font-weight: bold; margin-bottom: 20px;}

/**/
.ot-form {width: 330px; margin: auto;padding: 50px 0 20px;}
.ot-form h1 {font-size: 24px;font-weight: normal; margin-bottom: 10px;}
.ot-form .ot-message-error {margin-bottom: 10px;}
.ot-form .ot-message-error {color: #ff0000;}
.ot-form input[type='text'],
.ot-form input[type='password'] {width: 253px; height: 35px; font-size: 16px;padding: 3px 10px;}
.ot-form-login .ot-item-captcha input[type='text'] {width: 139px;float: left;}
.ot-form-login .ot-item-captcha * {vertical-align: middle;}
.ot-form-login .ot-captcha {float: left; padding: 5px 0 0 5px;}
.ot-form .ot-description {display: block;font-size: 9px; color: #999;width: 255px;padding: 3px 0;}
.ot-form .ot-item {margin-bottom: 14px;position: relative;}
.ot-form .ot-btn {height:36px;}

a.ot-link-dotted,
.ot-link-password-recovery {border-bottom: 1px #EF7F1A dotted;text-decoration:none;}
a.ot-link-dotted:hover,
.ot-link-password-recovery:hover {border:none;}
input[type="submit"] {cursor:pointer;}

.ot-tooltip-help {
    width: 205px;
    position: absolute;
    top: 0;
    right: -135px;
    font-size: 11px;
    z-index: 3;
    -webkit-box-shadow:  0px 0px 6px 1px rgba(0, 0, 0, 0.2);
    box-shadow:  0px 0px 6px 1px rgba(0, 0, 0, 0.2);
}
.ot-tooltip-help .ot-dialog-wrapper {padding: 18px;}
.ot-tooltip-help {font-size: 11px;}
.ot-tooltip-help p {margin-bottom: 10px;}
.ot-tooltip-help ul {margin-top: 0;}
.ot-tooltip-help .ot-link-dotted {font-size: 12px;}

/***********************  Footer ******************************/
.ot-footer {color: #999; font-size: 12px;clear: both; padding:0 0 10px 20px;}